<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head> 
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Welcome to Spring Security</p>
    <p>Click <a href="/info">here</a> to follow the Info page</p>
    <p>Click <a href="/admin">here</a> to follow the Admin page</p>
    <p>Click <a href="/about">here</a> to follow the About page</p>
    <p>Click <a href="/blocked">here</a> to follow the Blocked Users page</p>
    <div sec:authorize="isAuthenticated()">
        <p>Click <a href="/logout">here</a> to follow the Logout page</p>
    </div>
</body>
</html>
