<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Blocked Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <style>
            table, th, td {
              border:1px solid black;
            }
        </style>
    </head>
    <body>
        <h1>Blocked Users</h1>
        <div th:if="${blockedUsers}">
            <table style="width:50%">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Blocked Since</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="instance : ${blockedUsers}">
                        <td th:text="${instance.key}"></td>
                        <td th:text="${instance.value}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>Click <a href="/">here</a> to follow the Index page</p>
    </body>
</html>