<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <style>
            table, th, td {
              border:1px solid black;
            }
        </style>
    </head>
    <body>
        <p>Welcome to the Secret Page!</p>
        <h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>
        <p>Click <a href="/">here</a> to follow the Index page</p>
        <h3>Send Secret Form</h3>
        <div class="card-body">
            <form th:action="@{/secret}" method="post" th:object="${secretForm}">
                <div>
                    <label for="secretMessage">Secret Message: </label>
                    <input type="text" maxlength="30" id="secretMessage" th:field="*{secretMessage}">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <p></p>
        <p></p>
        <h3>Show Secret by Id Form</h3>
        <div>
            <form th:action="@{/secret}">
                <div>
                    <label for="id">Provide secret Id here: </label><br>
                    <input id="id" type="text" class="form-control" aria-describedby="emailHelp" th:name="id"/>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <p></p>
        <p></p>
        <div th:if="${secretMessage}">
            <h3>Secret By Id</h3>
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>Secret Id</th>
                        <th>One Time Secret URL String</th>
                        <th>One Time Secret URL Link</th>
                        <th>Secret Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><p th:if="${uuid}"><span th:text="${uuid}"></span></p></td>
                        <td><p th:if="${secretUrl}"><span th:text="${secretUrl}"></span></p></td>
                        <td><p th:if="${secretUrl}"><span>Click <a th:href="${secretUrl}">here</a> to see the Secret</span></p></td>
                        <td th:text="${secretMessage}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
